---
ctaimage: https://ik.imagekit.io/webtactics/pmfresh/img/1920x953/salad-green-leaves-1920x953_a3O8dDt0j.jpg


pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tagged/{{ tag }}/
layout: layouts/grid-tagged.njk
eleventyComputed:
  title: "Articles & Posts Tagged “{{ tag }}”"
  metaDescription: "All Products, Recipes and News tagged with “{{ tag }}”"
  description: "All Products, Recipes and News tagged with “{{ tag }}”"
---



{% set postslist = collections[tag] | reverse %}
{% include "components/postslist-tagged.njk" %}


