:root {
  --primary: hsla(211,50%,53%,1);
  --primarylight: hsla(211,50%,53%,0.6);
  --primarydark: hsla(211,58%,43%,1);
  --darkblue: hsla(204, 96%, 18%, 1);
  --darkblue40: hsla(204deg, 96%, 18%, 0.4);
  --primarybutton: #B11112;
	--white: #ffffff;

  --white10: hsla(0,0%,100%,0.1);
  --white20: hsla(0,0%,100%,0.2);
  --white50: hsla(0,0%,100%,0.5);
  --white80: hsla(0,0%,100%,0.8);
	--lightgrey: #ebebeb;
  --darkgrey: #808080;
	--red: #ED1C24;
  --pink: #FDDFCF;
  --lightpink: hsla(20.87, 92%, 90.2%, 0.34);
  --text: #6A6A6A;
  --black: hsla(0,0%,0%,1);
  --black20: hsla(0,0%,0%,0.2);
  --black40: hsla(0,0%,0%,0.4);
  --black60: hsla(0,0%,0%,0.6);
  --black80: hsla(0,0%,0%,0.8);
  --mattblack: hsla(214,12%,11%,0.95);
  --green: hsla(144, 80%, 22%, 1);


  --transitionLength: 0.4s;
  --transitionTiming: ease;


  --headerheight: 100px;
  --navtopheight: 40px;
  --navbottomheight: 60px;
  --mobilenavheight: 60px;
}
  
  
/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('/fonts/open-sans-v40-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}


/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/montserrat-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/montserrat-v26-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/montserrat-v26-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/montserrat-v26-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  

/* Box sizing rules */

*, *:before, *:after, *, *::before, *::after  {
  box-sizing: border-box;
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



html,
body {
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--primarydark);
  scroll-padding-top: var(--navbottomheight); 
}


html { 
scroll-behavior: smooth; 
}
  

a img {border: 0;}

a {

color: var(--primary);
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;}
a:hover {

  color: var(--darkblue);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-style: normal;
font-weight: 400; 
  color: var(--primary);
  text-rendering: optimizeLegibility;
  margin:0 0 1rem;
  padding:0;
  text-wrap: balance;
  line-height: 1.3;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a, p a {
text-decoration: none;}


.largetext {font-size: 200%;}


.h1, h1 {
  font-size: 3rem;
  font-size: clamp(2.5rem, 2vw + 1.5rem, 3rem);
  line-height: 1;
  }
  
.h2, h2 {
  font-size: 2.5rem;
  font-size: clamp(1.75rem, 2vw + 1.5rem, 2rem);
}


.h3, h3 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 2vw + 1.5rem, 1.75rem);
  line-height: 1.1;
}

.h4, h4 {
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 2vw + 1.5rem, 1.5rem);
}

.cancelled h4.results-title {color: var(--white);background-color: var(--red);padding:0.5rem 1rem;}
.cancelled h4 {color: var(--white);background-color: var(--red);padding:0.25rem 0.5rem;width: fit-content;}

p {
font-family: 'Open Sans' , sans-serif;
font-style: normal;
font-weight: 400;
color: var(--text);
text-rendering: optimizeLegibility;
font-size: 1rem;
font-size: clamp(16px, 2vw + 1rem, 1.1rem);
line-height: 1.7rem;
margin: 0 0 1rem 0;
padding:0;}

strong {font-weight: 500;color: var(--primary);}

p em {
font-style: italic;
color: var(--black);
}




.hide { display: none;}

.scrolled .hide-for-scrolled {display: none;}


@media (min-width: 1025px) {
  .hide-for-large {
    display: none;
    }
  }
@media (max-width: 1024px) {
  .hide-for-small {
    display: none;
    }
  }

/* topnav layout */


.mobilemenu {padding:0 0 1rem 0;}

.smalltextwrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  line-height: 4rem;
  background: var(--darkblue);
  color: var(--white);
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight:400;
}

.mobilewrapper {
height:4rem;
line-height:4rem;
display: flex;
justify-content: flex-end;
align-items: center;
background: var(--primary);
}

.offcanvas .smalltextwrapper h3 {padding-left: 0.5rem;font-size:1.3rem;
  color: var(--white);
  text-align: left;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight:400;
font-style: normal;
  height: 4rem ;
  line-height: 4rem;
  margin: 0 0 2px 0;
  background: transparent;
 }
.offcanvas .mobilesearch h3  {padding-left: 0.5rem;font-size:1.3rem;
  color: var(--black);
  text-align: left;
  background: var(--white);
 font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-weight:400;
font-style: normal;
  height: 2rem ;
  line-height: 2rem;
  margin: 0 0 2px 0;
 }
.mobilesearch {padding:1rem 0;}

ul.off-canvas-list, ul.second {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ul.off-canvas-list li a {
  display: block;
  color: var(--black);
  background: var(--white);
 padding: 0.5rem;
  border-bottom: 1px solid var(--lightgrey);
  transition: background 300ms ease;
  font-weight: normal;
 font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
}



ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {
  color: var(--primary);
  background: var(--white);
  font-weight: bold;
  text-decoration: none;
}

ul.off-canvas-list > li.current > a, ul.off-canvas-list > li.menuactive > a {
  color: var(--primary);
  background-color: var(--white); font-weight: bold;}


  ul.off-canvas-list > li.menuparent.menuactive > a.menuparent.menuactive {
    color: var(--primary);
    background-color: var(--white); font-weight: bold;}

  ul.off-canvas-list > li.parent > a {
    color: var(--primary);
    background-color: var(--black); font-weight: bold;}

ul.off-canvas-list > li.parent > a:hover {
color: var(--white);
background-color: var(--primary); font-weight: bold;}

  ul.off-canvas-list li ul.second li a {
    display: block;
    color: var(--black);
    background: var(--white);
   padding: 0.4rem 1.5rem;
    border-bottom: 1px solid var(--primarylight);
    transition: background 300ms ease;
    font-weight: normal;
    font-size: 90%;

  }

  ul.off-canvas-list li ul.second li a:hover {
    display: block;
    color: var(--white);
    background: var(--primary);
   padding: 0.4rem 1.5rem;
   border-bottom: 1px solid var(--primarylight);
    transition: background 300ms ease;
    font-weight: normal;
    font-size: 90%;
  }

  ul.off-canvas-list li ul.second li.menuactive a {
    display: block;
    color: var(--white);
    background: var(--primary);
   padding: 0.4rem 1.5rem;
   border-bottom: 1px solid var(--primary);
    transition: background 300ms ease;
    font-weight: normal;
    font-size: 90%;

  }



/* All */
.navbar-menu a {
  display: block;
  padding: 0 3rem;
  text-decoration: none;
  background: transparent;
  line-height: var(--navbottomheight);
}

@media (max-width: 1500px) {
  .navbar-menu a {
    padding: 0 2rem;
  }
}
@media (max-width: 1300px) {
  .navbar-menu a {
    padding: 0 1rem;
  }
}
@media (max-width: 1100px) {
  .navbar-menu a {
    padding: 0 0.5rem;
  }
}

/* Top-level */
.navbar ul.navbar-menu  li  a {
    display: inline-block;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--primarydark);
    -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.navbar ul.navbar-menu li.active-class  a {
    color: var(--darkblue);
    background: var(--primarydark);

}

.navbar  .navbar-menu  li  a:hover,
.navbar  .navbar-menu > li  a:focus {
  background: var(--primarydark);
  color: var(--darkblue);
}

.navbar  .navbar-menu  li  a.social-icon:hover
{
  background: var(--primarydark);
  color: var(--darkblue);
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
}

.navbar-menu,
.navbar-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Nested */




ul.navbar-menu li ul li {
 border-bottom: 1px solid var(--primarylight);
 line-height:50px;
}
ul.navbar-menu li ul li:first-child {
  border-bottom: 1px solid var(--primarylight);
  border-top: 1px solid var(--primarylight);

 }
ul.navbar-menu li ul li ul li {
  border-bottom: 1px solid var(--primarylight);
  border-left: 1px solid var(--primarylight);
  line-height:50px;
 }

.navbar-menu ul > li > ul {
  left: 100%;
  top: 0;

}

.navbar-menu li {
position: relative;
}



.navbar-menu li:hover > ul,
.navbar-menu li:focus-within > ul /* IE11+ only */ {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}


/* second level */

ul.second-level {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    width: 14rem;
  }
  
  
  ul.navbar-menu li ul.second-level a {
  text-transform:capitalize;
    line-height:50px;
    font-size: 1rem;
    padding:0 1rem;
   }




ul.navbar-menu li ul.second-level li a {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--primary);
    background-color: var(--white);
    width: 100%;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid var(--lightgrey);
    transition: background 300ms ease;
  }

  ul.navbar-menu li ul.second-level li a:hover {
    display: block;
    border-bottom: 1px solid var(--lightgrey);
    color: var(--white);
    background-color: var(--primary);
    text-align: left;
    text-decoration: none;
    transition: background 300ms ease;
  }


  .navbar ul.navbar-menu li.active-class  ul.second-level li a {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--primary);
    background-color: var(--white);
    width: 100%;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid var(--lightgrey);
    text-transform:capitalize;
    transition: background 300ms ease;
  }

  .navbar ul.navbar-menu li.active-class  ul.second-level li a:hover {
    display: block;
    border-bottom: 1px solid var(--lightgrey);
    color: var(--white);
    background-color: var(--primary);
    text-align: left;
    text-decoration: none;
    text-transform:capitalize;
    transition: background 300ms ease;
  }


  .navbar ul.navbar-menu li  ul.second-level li.active-class a {
    display: block;
    padding: 0 1rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary);
    width: 100%;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid var(--lightgrey);
    text-transform:uppercase;
    transition: background 300ms ease;
  }

  .navbar ul.navbar-menu li  ul.second-level li.active-class a:hover {
    display: block;
    border-bottom: 1px solid var(--lightgrey);
    color: var(--white);
    background-color: var(--primary);
    text-align: left;
    text-decoration: none;
    text-transform:uppercase;
    transition: background 300ms ease;
  }

/* end second level */
svg {
  color : var(--white);
}

svg:hover {
  color : var(--primary);
}

span.search-icon svg {
  color : var(--black);
  float:right;
  margin: 0 2rem 0 0;
}

span.search-icon svg:hover {
  color : var(--primary);
}

.mobilesearch input[type="text"] {
  background-color: #FFFFDF;
  height:3rem;

}
.modal-body .mobilesearch input[type="text"] {
  background-color: #FFFFDF;
  height:2.2rem;

}

.infoboxmobile svg {
  color : var(--white);
}

.infoboxmobile svg:hover {
  color : var(--black);
}

ul.infobox, .infoboxmobile {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
    margin-block-end:0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
 
}

ul.infobox li, ul.infoboxmobile li {
  float: right;
 
}
.social-contact {
  display: flex;
  flex-direction: row-reverse;
}
.social-contact > a {padding-left: 1rem;}

.social-contact svg {
  color : var(--primary);
}

.social-contact svg:hover {
  color : var(--black);
}

.social-icon svg {
    color : var(--white);
  }
  
  .social-icon svg:hover {
    color : var(--black);
  }


@media (max-width: 1024px) {
  .social-contact  {  display: flex;
    flex-direction: row;}
}


ul.infobox a {
  margin: 0;
  line-height: var(--navtopheight);
  padding: 0;
  border: none;
}

.navbar ul.navbar-menu  li a.social-icon {
  display: flex;
  height: var(--navbottomheight);
  line-height: var(--navbottomheight);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 0 0 2rem;

}



ul.infoboxmobile a {
  margin: 0;
  line-height: var(--mobilenavheight);
  padding: 0;
  border: none;
}

.infoboxmobile > li > a.social-icon {
  display: flex;
  height: var(--mobilenavheight);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;

}

.infoboxmobile > li > a.text-icon {
  display: flex;
  height: var(--mobilenavheight);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 0 0 2rem;
  font-size:18px;
  color: var(--white);
  text-decoration: none;

}

/* end topnav */


/* layout */

.hamburger { grid-area: hamburger; }
.navwrapper { grid-area: navwrapper; }
.logo { grid-area: logo; }
.navrightside { grid-area: navrightside; }
.navtopline { grid-area: navtopline; }
.navbottomline { grid-area: navbottomline; }
.navbottomlinewrapper { grid-area: navbottomlinewrapper; }
.footernav { grid-area: footernav; }
.fourhundred { grid-area: fourhundred; }




.topbar, .topbar.scrolled {
  position: fixed;
  background-color: var(--primarydark);
  height: var(--mobilenavheight);
  width: 100%;
  z-index: 3;
}




.headerwrapper {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
  "hamburger logo";
    grid-template-rows: var(--mobilenavheight);
    z-index: 3;
}  

@media (min-width: 1500px) {  
  .headerwrapper {
  display: grid;
  grid-template-columns: 100px 300px 1fr 400px;
  grid-template-areas:
"hamburger logo navwrapper fourhundred";
  }


}

@media (min-width: 1025px) {  

.headerwrapper {
display: grid;
grid-template-columns: 100px 300px 1fr 1rem;
grid-template-areas:
"hamburger logo navwrapper fourhundred";
grid-template-rows: var(--headerheight);
-webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
 } 

 .headerwrapper.scrolled {

  grid-template-rows: var(--navbottomheight); 
  -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
   } 

   .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--headerheight);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    background-color: var(--darkblue);
  }

  .scrolled .hamburger  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--navbottomheight); 
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  
  }

  .fourhundred {width:400px;}
  
.topbar {
    position: fixed;
    background-color: var(--primarydark);
    width: 100%;
    padding: 0;
    top: 0px;
    z-index: 3;
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  height: var(--headerheight);
  }
  
  
  
  .topbar.scrolled {
    background-color: var(--primarydark);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  height: var(--navbottomheight); 
  }
}




.navwrapper {
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
    "navrightside";
    grid-template-rows: var(--headerheight);
    z-index: 2;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
   } 

.scrolled  .navwrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "navrightside";
        grid-template-rows: var(--navbottomheight); 
        -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
   } 
  
   @media (min-width: 1025px) and (max-width: 1500px) {
 
   .navwrapper {
    margin: 0 0 0 auto;
    }

  }

  @media (min-width: 1501px) {  
    .navwrapper {
      margin: 0 auto;
      min-width:1000px;
     }
 
   }

.logo {
  display: flex;
  height: var(--headerheight);
  justify-content:flex-start;
  align-items: flex-start;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  padding: 0 0 0 var(--navbottomheight); 
}

 .scrolled .logo {
    height: var(--navbottomheight); 
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
 }


  .logo img {max-width:200px;aspect-ratio: 200 / 136;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    height:auto;
  }
.scrolled .logo img {max-width:117px;aspect-ratio: 117 / 80;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  height:auto;
  }







@media screen and (max-width: 1024px) {

  .logo,  .scrolled .logo  {
  display: flex;
  height: 100px;
  justify-content:flex-end;
  align-items: flex-start;
  padding: 0 1rem;
  
  }

  .logo img, .scrolled .logo img  {
    display: block;
    height: 100%;
    width : 100%;
    max-width:117px;aspect-ratio: 117 / 80;
   }

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 74px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

}
  
.navrightside {
  display: flex;
  height: var(--headerheight);
  flex-direction: column;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

 .scrolled .navrightside {
  display: flex;
  height: var(--navbottomheight); 

  flex-direction: column;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
 }

.navrightsidetopline {display:flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  height: var(--navtopheight);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  padding:0;
 }

.scrolled .navrightsidetopline {text-align: right;height:0px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  padding:0;
 }



.navrightsidebottomline {text-align: right;height: var(--navbottomheight); 
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
 }

/* footer layout */

 .footernav {
  display: grid;
  grid-template-columns:280px  1fr;
  grid-template-areas:
    "footerleft  footerright";
    margin: 0 auto;
    z-index: 2;
    width: calc(100vw - 1rem);
    max-width: 1280px;
   } 

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: start;
  
  
}

.footer li {
  list-style: none;
  display: inline-block;

}

  .footerrightbottomline {
    color: var(--white);
    text-align: right;
    padding:1rem 0 0 0;
   }

   .footerrightbottomline p {
    color: var(--white);
    text-align: right;
    padding:0 2rem 0 0;
    font-size: 0.9rem;
   }
   ul.footer-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}
ul.footer-menu li {
  list-style: none;
  display: inline-block;
  padding: 0;
}

.footer-menu>li>a {
  padding: 0 2rem;
  height: 36px;
  line-height: 36px;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  color: var(--white);
  background-color: transparent;
  border: none;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.footer-menu>li>a:hover {
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -ms-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  width: 100%;
}
  @media (max-width: 800px) {

    ul.footer-menu {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
  }

  ul.footer-menu li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.footer-menu>li>a {
  padding: 0.5rem 2rem;
  height: auto;
  border-bottom: 1px solid var(--lightgrey);
}
.footer-menu>li>a:hover {
  border-bottom: 1px solid var(--primarydark);
}
    .footer {
      display: block;
      justify-content: center;
      align-items: center;
    width:100%;
    
  }

    .footernav {
      display: grid;
      grid-template-columns:1fr;
      grid-template-areas:
        "footerright";
        margin: 0 auto;
        z-index: 2;
        width: calc(100vw - 1rem);
        max-width: 1280px;
       } 

     

    .footer li {width:100%;}
    .footer li a {width:100%;}

    .footerrightbottomline {
      text-align: left;
     }
  
     .footerrightbottomline p {
      color: var(--white);
      text-align: left;
      padding:0 0 0 2rem;
      font-size: 0.9rem;
     }
  }



/* content layout */
.headerspace {height: var(--headerheight);
}

.container {margin: 0 auto;  background-color: var(--white);
 white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.container.resultssummarywrapper {
    position: relative;
    background-repeat: repeat;
    background-image: url("/img/gtsc-logo-repeat-368x219-white-30.png");
    background-color: var(--primarylight);
}


@media (max-width: 1024px) {
.container {margin: 0 auto;  background-color: var(--white);}
.headerspace {height:0;}


}

.content {
  margin: 0 auto;
  padding: 6rem 0;
  width: calc(100vw - 1rem);
  max-width: 1280px;
  background-color: var(--white);
  min-height: 100px;
}

.content.secondblock {
  padding: 6rem 0 5rem 0;
  background-color: transparent;
}

.content.thirdblock {
  padding:  6rem 0;
  background-color: transparent;
}

.content.fourthblock {
  padding: 0 0 6rem 0;
  background-color: transparent;
}

@media (max-width: 1025px) {
  .content {
    padding: 0.5rem 0 3rem 0;
  }
}



h1.heading-text {
    color: var(--white);
    text-align: left;
    line-height: 3.6rem;
    text-transform: capitalize;
    background-color: var(--darkblue);
    margin-bottom: 3rem;
    padding: 1rem;
    display: inline-block;
    animation-name: fadein;
  animation-duration: 2s;
}
  

  h2.heading-text, h3.heading-text, h4.heading-text, h5.heading-text, h6.heading-text {
    color: var(--white);
      text-align: left;
      line-height: 3rem;
      text-transform: capitalize;
      background-color: var(--primary);
      margin-bottom: 4rem;
      padding: 1rem;
      display: inline-block;
     
    }

    h2.home-heading-text {
      color: var(--white);
      text-align: left;
      line-height: 3rem;
      text-transform: none;
      background-color: var(--darkblue);
      margin-bottom: 3rem;
      padding: 1rem;
    
    }

.content.home {
  padding: 4rem 0;

}
.content.home h3 {
  font-size: 3rem;
 font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  color: var(--primary);
  text-align: center;
  padding: 2rem 0 3rem 0;
  margin: 0;
}


.content.selectnavbox {
  margin: 0 auto;
  padding: 3rem 0 0 0;
  width: calc(96vw - 1rem);
  max-width: 1000px;
  background-color: transparent;
  min-height: 200px;
}












.content.detail {
  margin: 0 auto;
  padding: 5rem 0 6rem 0;
  width: calc(100vw - 2rem);
  max-width: 1440px;
  background-color: var(--white);
  min-height: 200px;
}
@media (max-width: 1024px) {
  .content.detail {
  width:100%;
padding: 0 0 6rem 0;
}
.padsmall {padding: 0 1rem;}
}



.container p a {
  line-height: inherit;
  color: var(--primarydark);
  border-bottom: 2px dotted var(--darkblue);
  background-color: var(--lightgrey);
  text-transform: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding:0 0.25rem;

}

.container p a:hover {
  color: var(--white);
  border-bottom: 2px solid var(--darkblue);

  text-decoration: none;
  background-color: var(--primarydark);
  transition: all 0.2s ease-in-out;
}






.content.redgradientcontent p, .redgradientaboutcontent p {
  line-height: 150%;
  font-size: 1.35rem;
  color: var(--white);
  text-decoration: none;
margin:0;
padding:0;
max-width: 60ch;
text-align:center;


}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.float-left {float: left;}
.float-right {float: right;}

.Robotoheading h2, .Robotoheading h3, .Robotoheading h4 {
 font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  text-transform: none;
  font-family: 'Roboto' , sans-serif;
  font-style: normal;
  font-weight: 500;}


  .Robotoheading h3 {
  font-size: 1.8rem;
  font-size: clamp(1.6rem, 2vw + 1.5rem, 2rem);
}

.Robotoheading h4 {
  font-size: 1.5rem;
  font-size: clamp(1.3rem, 2vw + 1.5rem, 1.7rem);
}

  .blackh2 h2 {
    margin: 0 0 2rem 0;
    color: var(--black);
    text-transform: none;
    font-size: 2rem;
    font-size: clamp(1.8rem, 2vw + 1.5rem, 2.2rem);
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  .blackh2 h2 a {border-bottom: 1px dotted transparent;}
  .blackh2 h2 a:hover {border-bottom: 1px solid var(--primary);}
      

.flex-center-align {display: flex;justify-content: flex-start;align-items: center;align-content: center;  flex-direction: row;}
.padtop1remtextindent1rem {padding-top: 0.7rem;text-indent: 1rem;}

.padtop1rem {padding-top: 1rem;}
.padtop2rem {padding-top: 2rem;}
.padtop3rem {padding-top: 3rem;}

.linkwrapper  {padding-top: 2rem;}

.white {color: var(--white);}
.red {color: var(--primary);}
.black {color: var(--black);}
.lightgrey {color: var(--lightgrey);}



.close, .closed {
        text-align: right;
        text-decoration: none;
        font-size: 3em;
        position: relative;
        top: 0rem;
        right:1rem;
        cursor:pointer;
        float:right;
      }



.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 350px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 1025px) {
.offcanvas {
  position: fixed;
  top: 0;
  left: -350px;
  width: 80vw;
  max-width: 300px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease-in-out;
  z-index: 5;
}}

.offcanvas.open {
  left: 0;
}

.offcanvas h3 {
  color: var(--primary);
  text-align: left;
  padding-left: 1rem;
  background: var(--white);
  height: var(--mobilenavheight);
  line-height: var(--mobilenavheight);
  margin: 0 0 2px 0;
  font-size: 1.5rem;
}


.toggle-nav {
  display: block;
  margin: 5px auto;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 60px;
  height: 54px;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 3;
  padding:10px;
 }

 .scrolled .toggle-nav {

 }

 @media screen and (max-width: 1025px) {
  .toggle-nav,  .scrolled .toggle-nav {
  display: block;
  margin: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  background: transparent;
  border: none;
  width: 60px;
  height: 54px;

  z-index: 3;
  padding:5px;
 }




}




.hamburger-icon:before {
  content: "";
  display:block;
  position:fixed;
    width: 40px;
    height: 4px;
    margin:0px;
    background: var(--white);
    box-shadow: 0 12px 0 0 var(--white), 0 24px 0 0 var(--white);
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}


span.title-bar-title {display:block;text-indent:34px;padding:0;}




.toggle-nav:focus {
  outline: none;
}


.toggle-nav:hover {
  background-color: var(--primarydark);
  color: var(--white);
}

.button {
  background-color: var(--primary);
  color: var(--white);
  margin: 0;
  margin-bottom: 0px;
  border: none;
  padding:0.5rem 2rem;
  cursor: pointer;
}

.button:focus, .button:hover {
  background-color: var(--black);
  color: var(--white);
}






.close-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: var(--white);
  z-index: 4;
  padding:0.2rem;
  border-bottom: 1px solid var(--lightgrey);

}

button.close-nav {
 
  font-size: 1.3rem;
  color: var(--white);
  cursor: pointer;
  background-color: var(--darkblue);
  border-width: 0.1rem;
  border-color: var(--darkblue);
  padding: 0.5rem 2rem;
  text-decoration:none;
  width:100%;
}
button.close-nav:hover, button.close-nav:focus, .button.close-nav:hover, .button.close-nav:focus {
  background-color: var(--white);
  color: var(--primary);
  border-width: 0.1rem;
  border-color: var(--darkblue);
}

button.blogdetail, .button.blogdetail {margin:0;}

.hide { display: none;}



/* homepage hero */

.hero {
  height: 40svh;
  height: 40vh;
  width: 100%;
  position:relative;
  top: 0;
  left: 0;
  overflow: hidden;
  object-fit: cover;
 
}
.home.hero {
    height: 80svh;
    height: 80vh;
    width: 100%;
    position:relative;
    top: 0;
    left: 0;
    overflow: hidden;
    object-fit: cover;
   
  }


.hero img {
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
position: absolute;
z-index: 0;
 
}


@media (max-width: 1024px) {
  .hero {
    height: 30svh;
    height: 30vh;
    width: 100vw;
    position:relative;
    top: 0;
    left: 0;
 
  }
  
  
  

}



.content.herobox {
  position: relative;
  background-color: transparent;
  width: calc(100vw - 2rem);
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  height: 0;
  min-height: 0;
  z-index: 0;
  overflow:visible;
 
  }


.flex-caption {
  background: var(--darkblue40);
  font-size: 14px;
  top: 60vh;
  left: 0px;
  line-height: 18px;
  padding: 1rem;
  position: relative;
  text-align: left;
  margin: 0;
  border-radius: 0;
  z-index: 2;
  animation-name: fadein;
  animation-duration: 2s;
 

}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}




.flex-captionh1box {
padding: 1rem;


}

.flex-caption h1 {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--white);
    text-align: left;
  letter-spacing: 1px;
    padding:0;
    margin:0; 

}




.homecards .flex-captionwhitebox { 
 
  padding:1rem;

}



.flex-captionbutton {display:flex; justify-content: flex-end;align-items: center;}


.flex-captionp {max-width: 240px;}

.content.redgradientcontent .homecards .flex-captionp {
  max-width: 100%;
  margin:1rem 0;
min-height: 5.8rem;}

.flex-captionp p {font-size:24px;font-weight: 500;color: var(--black);}

.content.redgradientcontent .homecards .flex-captionp p {font-size:20px;font-weight: 500;color: var(--black);
  text-align: left;}

.flex-captionprodlink {display:flex;justify-content: flex-start;align-items: center;}
.flex-captionprodlink a {color: var(--text);text-decoration: none;font-weight: 400;font-size: 20px;}
.flex-captionprodlink a:hover {color: var(--primary);text-decoration: none;}

.homecards .flex-captionprodlink a {color: var(--text);text-decoration: none;font-weight: 400;font-size: 14px;}

.homecards .flex-captionprodlink a:hover {color: var(--primary);}



@media (max-width: 1024px) {

  .flex-caption {
    background: var(--darkblue40);
    font-size: 14px;
    bottom: 54vh;
    left: 0px;
    line-height: 18px;
    padding: 0;
    width: 100%;
    max-width: 800px;
    margin: 0;
  
  }
}

@media (max-width: 800px) {

  .content.homeherobox {
    position: relative;
    background-color: transparent;
    width: calc(100vw - 2rem);
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: auto;
    padding:0;
}


  .flex-caption {
top: 35vh;
position: relative;
    text-align: left;
    width: calc(100vw - 2rem);
    max-width: 800px;
    margin: 0;
  
  }

  .flex-captionh1box, .flex-captionwhitebox {
  padding: 1rem;}

}
@media (max-width: 500px) {

.flex-caption {
top: 35vh;

  
  }
}

.contentwrapper {
  max-width: 1280px;
margin:0 auto;
padding: 6rem 0;}

.content2 {text-align:right ;}
.why-changs .content2 {text-align:left;}

@media (max-width: 1024px) { 
  
  .contentwrapper {

padding: 3rem 1rem;}

.content2 {text-align:left ;}
  }

.content1 h3 {

    margin: 0 0 2rem 0;
    color: var(--primary);
    text-transform: none;
    font-size: 1.5rem;
    font-family: 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 500;
  }

  .content2 ul li {
    float:left;
    text-align: left;
    width: 100%;
  }
  .content2 ul li::marker {color: var(--black);
    font-size: 1.5rem;
  }

[class*="grid-"] {
  display: grid;
  gap: 1rem;
}

.grid-1x2 {
  grid-template-columns: 1fr 2fr;
}

.grid-1x3 {
  grid-template-columns: 1fr 3fr;
  column-gap: 0.5rem;
  row-gap: 0;
}
.grid-1x4 {
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  margin-bottom:2rem;
}

.grid-committee {
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}


.grid-2 {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


.grid-3 {
  grid-template-columns:1fr 1fr 1fr;
  gap: 1rem;
}
.grid-3x1 {
  grid-template-columns: 3fr 1fr;
}

.grid-4-footer {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: end;
}

.grid-7x4 {
  grid-template-columns: 7fr 4fr;
  gap: 4rem;
}



.grid-5x2 {
  grid-template-columns: 5fr 2fr;
  gap: 2rem;
  padding: 0;
  font-weight: normal;
}


.grid-5x2-columns {
  grid-template-columns: 5fr 2fr;gap: 2rem;
max-width: 600px;}


.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid-3-columns.resultssum {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.grid-8-gallery {
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.grid-150px-columns {grid-template-columns:repeat(auto-fit, minmax(min(150px, 100%), 1fr)) ;}


@media (max-width: 1200px) {




  .grid-4-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr); gap: 2rem;
}
}

@media (max-width: 1024px) {

  .grid-1x4 {
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
  }

  .grid-1x3 {
    grid-template-columns: repeat(1, 1fr); 
    column-gap: 0.5rem;
    row-gap: 0;
  }

  .grid-7x4, .grid-2, .grid-2-detail-default, .grid-2-thanks  {
    grid-template-columns: repeat(1, 1fr); 
    gap: 1rem;
  }

  .grid-3-columns.resultssum {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }


.grid-4-1-gluten {
  grid-template-columns: 2fr 1fr;gap: 2rem;
}

}


@media (max-width: 800px) {

  .grid-committee  {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.25rem;
  }
.committee-member {margin-bottom: 1rem;}

  .grid-8-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }


  .grid-6-products-recipes {
    display: grid;
    grid: auto / auto-flow max-content;
    grid-gap: 1em;
    align-items: center; /* vertically align children */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
      scroll-padding-inline: 1.4rem;
  }



  .productsumrecipebox {
    scroll-snap-align: center;
  }

  .grid-3-prod-detail {
    grid-template-columns: 3fr 110px 2fr;
    gap: 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--pink);
    font-weight: normal;
  }

 

  .grid-3-recipes-home {
    display: grid;
    grid: auto / auto-flow max-content;
    grid-gap: 1rem;
    align-items: center; /* vertically align children */
    overflow-x: auto;
    scroll-snap-type: x proximity;

      scroll-snap-align: center;
    
    }

   .home   .grid-3-recipes-home .recipesummarypage { text-align: center;
    scroll-snap-align: start;}


    .grid-3-buttons {
      grid-template-columns:1fr;gap: 1rem;
    }
    
  .grid-2-columns {
    grid-template-columns: repeat(1, 1fr);
  }

.grid-3-columns {
  grid-template-columns: repeat(1, 1fr);
  }
  .grid-4-columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .grid-5-2-columns, .grid-5-2 {
  
    grid-template-columns:1fr;gap: 1rem;
    max-width: 800px;}


    .grid-3-wtb {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
    }

    .grid-3-video {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
    .grid-3-products {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    .grid-4-homeboxes {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }

    .grid-2-flex-caption, .grid-2-about {
      grid-template-columns: 1fr;gap: 1rem;
    }

    .grid-4-1-gluten {
      grid-template-columns:1fr;gap: 1rem;
      padding:1rem 0;
    }
}

.grid-2-columns-2x1 {
grid-template-columns: 2fr 1fr;gap: 3rem;}

.grid-2-small {
  grid-template-columns: 1fr 1fr;
  gap: 0;}


.grid-detailpage-sidebar-summary {
  grid-template-columns: 1fr 3fr;}

.grid-detailpage-sidebar-summary:hover img {
  filter: brightness(1.2);
  }

.grid-2-searchbox {
  grid-template-columns: 3fr 1fr;
  gap: 0;}



  @media (max-width: 400px) {

    .grid-4-columns {
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
    }
  }
  
.pad1remtopbottom, .pad1remboth {padding: 1rem 0;}
.pad2remtopbottom, .pad2remboth {padding: 2rem 0;}
.pad3remtopbottom, .pad3remboth {padding: 3rem 0;}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: calc(60vw - 1.25rem);
  max-width: 1280px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closemodal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closemodal:hover,
.closemodal:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 0.2rem 1rem;
  background-color: var(--white);
  color: var(--white);
}

.modal-header h3 {padding:0;margin:0;
font-size: 2.5rem;
  font-size: clamp(2.25rem, 2vw + 1.5rem, 3.5rem);
  }

.modal-body { padding: 0 1rem 1.5rem 1rem;}

.modal-footer {
  padding: 0.2rem 1rem;
  background-color: var(--white);
  color: var(--white);
}





.redgradient {
position: relative;
margin:0;
background-repeat: repeat;
background-image: url("/img/blog_hero.jpg"), linear-gradient(to bottom, #ed1c2e, #e51c2c, #dd1c2b, #d51b29, #cd1b28, #c61b27, #be1b25, #b71b24, #af1b22, #a71a21, #a01a1f, #98191e);
}





/* CGBlog 

------------------------------------------------- */


  /* CGBlog Details 
------------------------------------------------- */


  /* Products 
------------------------------------------------- */


  /* accordion
------------------------------------------------- */


/* Newsletter input
------------------------------------------------- */

/* Search 

------------------------------------------------- */


/* Select box 
------------------------------------------------- */

select {
 
  margin: 0 0 1rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  font-family: inherit;

  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
  transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s;

  cursor: pointer;
  padding: 0.25rem;
  height: 2rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  width: 100%;
}

/* WTB box 
------------------------------------------------- */



/* Gallery
------------------------------------------------- */


  

a.swimcentral {
    display: inline-flex;
    align-items: center;
font-size:1rem;
  margin: 0;
  padding: 1px 40px;
 color: var(--white);
  background-color: var(--darkblue);
  border:2px solid var(--white);
  border-radius: 20px;
  text-decoration: none;
}
a.swimcentral:hover {
    display: inline-flex;
    align-items: center;
font-size:1rem;
  margin: 0;
  padding: 1px 40px;
 color: var(--darkblue);
  background-color: var(--white);
  border:2px solid var(--darkblue);
  border-radius: 20px;
  text-decoration: none;
}


.resultssummary, .eventsummary {margin: 1rem 0;}

.bordertopsumimage img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 400 / 267;
}

.bordertopsumimage img:hover {
  filter: brightness(90%);
  transition: all 0.2s ease-in-out;
  width: 100%;
}


.resultssumroundimage img {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 100 / 150;
}
.resultssumroundimage img:hover {
  filter: brightness(110%);
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.resultssumsmallimage img {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.resultssumsmallimage img:hover {
  filter: brightness(110%);
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.recordsimage img {
  border-radius: 0.5rem;
  width: auto;
  aspect-ratio: 200 / 300;
}

.recordsimage img:hover {
  filter: brightness(110%);
  transition: all 0.2s ease-in-out;
  width: auto;
  aspect-ratio: 400 / 600;
}

.resultssummarysmall {margin: 0 0 2rem 0;}

.resultssumsmallcontent {
  padding: 0 0 0 1rem;
  margin: 0;
  border-left: .6rem solid var(--primary);
  min-height: 3rem;
  transition: color .5s,text-decoration-color 1.5s;
}

.resultssummarysmall:hover .resultssumsmallcontent {
  border-left: .6rem solid var(--black);
  transition: color .5s,text-decoration-color 1.5s;
}






.sumtitle {display:block;
align-items: center;
background-color: var(--primary);
min-height: 61px;
width:100%;
}

h3.sum-title {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  background-color: var(--primary);
  font-size:1.5rem;
  white-space: normal;
  transition: background-color .6s;
  width:100%;
  margin:0;
  min-height: 61px;
}

h3.sum-title a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  background-color: var(--primary);
  font-size:1.5rem;
  padding: 0.25rem 1rem;
  white-space: normal;
  transition: background-color .6s;
  width:100%;
 
  margin:0;
  min-height: 61px;
}



h3.sum-title a:hover {
  color: var(--white);
  background-color: var(--darkblue);
  transition: background-color .6s;
}


h3.sum-title-cancelled {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--white);
  background-color: var(--primary);
  font-size:1.5rem;
  white-space: normal;
  transition: background-color .6s;
  padding: .25rem 1rem;
  width:100%;
  margin:0;
  min-height: 61px;
}




h4.sum-title {
  color: var(--white);
  background-color: var(--primary);
  font-size:1.3rem;
  line-height: 2;
  white-space: nowrap;
  transition: background-color .6s;
  width:100%;
  display: block;
  margin:0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h4.sum-title a {
  color: var(--white);
  background-color: var(--primary);
  font-size:1.3rem;
  line-height: 2;
  padding: 0.25rem 1rem 0.4rem 1rem;
  white-space: nowrap;
  transition: background-color .6s;
  width:100%;
  display: block;
  margin:0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}


h4.sum-title a:hover {
  color: var(--white);
  background-color: var(--darkblue);
  transition: background-color .6s;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

h4.sum-title-cancelled {
  color: var(--white);
  background-color: var(--red);
  font-size:1.3rem;
  line-height: 2;
  white-space: nowrap;
  transition: background-color .6s;
  width:100%;
  display: block;
  margin:0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}



a.resultspdf {
  color: var(--white);
  background-color: var(--primary);
  font-size:1.3rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem 1rem;
  white-space: nowrap;
  text-decoration-thickness: 0.2rem;
  text-decoration-style: dotted;
  text-decoration-color: var(--primary);
  text-underline-offset: 0.8rem;
  transition: background-color .6s,text-decoration-color .6s;
  width:100%;
  display: block;
}


a.resultspdf:hover {
  background-color: var(--darkblue);
  color: var(--white);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-style: solid;
  text-decoration-color: var(--darkblue);
  text-underline-offset: 0.8rem;
  transition: background-color .6s,text-decoration-color .6s;
}

a.resultspdfsmall {
  color: var(--white);
  background-color: var(--primary);
  font-size:1.3rem;
  border: none;
  padding: 0.25rem 0.6rem;
  white-space: nowrap;
  text-decoration-thickness: 0.2rem;
  text-decoration-style: dotted;
  text-decoration-color: var(--primary);
  text-underline-offset: 0.8rem;
  transition: background-color .6s,text-decoration-color .6s;
}


a.resultspdfsmall:hover {
  background-color: var(--darkblue);
  color: var(--white);
  border: none;
  text-decoration-thickness: 0.2rem;
  text-decoration-style: solid;
  text-decoration-color: var(--darkblue);
  text-underline-offset: 0.8rem;
  transition: background-color .6s,text-decoration-color .6s;
  }
  


  a.recordspdfsmall {
      color: var(--white);
      background-color: var(--primary);
      font-size:1.3rem;
      border: none;
      padding: 0.25rem 0.6rem;
      white-space: nowrap;
      text-decoration-thickness: 0.2rem;
      text-decoration-style: dotted;
      text-decoration-color: var(--primary);
      text-underline-offset: 0.8rem;
      transition: background-color .6s,text-decoration-color .6s;
  }

  a.recordspdfsmall:hover {
  background-color: var(--darkblue);
  color: var(--white);
  border: none;
  text-decoration-thickness: 0.2rem;
  text-decoration-style: solid;
  text-decoration-color: var(--darkblue);
  text-underline-offset: 0.8rem;
  transition: background-color .6s,text-decoration-color .6s;
}

@media (max-width: 1025px) {
  a.recordspdfsmall, a.resultspdfsmall, h4.results-title, h4.results-title a, h3.results-title, h3.results-title a, h3.event-title, h3.event-title a {
    white-space: normal;
  }

}

.two-colum-wrapper {
  margin: 0;
  padding:2rem 0 3rem 0;

}

.two-colum-wrapper:last-child {
  margin: 0;

}


.eightypercentborder3rem, .eightypercentborder {
  margin: 0 auto 5rem; 
  padding: 2rem 0;
  border-bottom: 4px dotted var(--darkblue);
  width: calc(80vw - 6rem);
  max-width: 800px;
 
}


.postsumdate {
background-color: var(--primary);
padding: 0 1rem;
min-height: 2.3rem;
}
.postsumdate p {margin:0;line-height:2.3rem;color: var(--white);}

.committee-title {font-weight: bold;}

/* Useful links */

.usefultextwrapper {
  padding: 1rem;
  margin: 1rem 0;
  border-left: 0.8rem solid var(--primary);
}

.usefultextwrapper:hover {
  border-left: 0.8rem solid var(--black);
}

@media (max-width: 700px) {
  .usefultextwrapper {
    padding: 0;
    margin: 0;
    border-left: none;
  }
}

.strokeleft p {margin:0;}
span.eventlength {padding:0 0.5rem 0 0; border-right: 2px solid var(--primary);}
span.eventlength:last-child {padding:0; border-right: 2px solid var(--white);}

.eventsheld p {background-color: var(--primary);color: var(--white);padding: 0.5rem;margin:0 0 1rem 0;}
span.stroketitle  {font-weight:bold;color:var(--primary);}

.google-maps {

  position: relative;

  padding-bottom: 100%; /* This is the aspect ratio */

  height: 0;

  overflow: hidden;

}

.google-maps iframe {

  position: absolute;

  top: 0;

  left: 0;

  width: 100% !important;

  height: 100% !important;

}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea
 {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	border: 1px solid var(--primary);
}