<div class="resultswrapper top">
<h2 class="heading-text">Upcoming 2024-25 Season Events</h2>
{% for postslist = collections['Featured']  -%} 
	{% include "components/postslist-events.njk" %}

	<div class="linkwrapper"><a class="resultspdf" href="/events/" title="2024-25 Season Events" alt="2024-25 Season Events" >For all Event Listings &gt;</a></div>
</div>

