
{% if freshlypreparedvegetables and crunchysaladkit %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Freshly Prepared Vegetable Products</h3>
{% set postslist = collections['Freshly Prepared Vegetables'] | exclude("Crunchy Salad Kit") | limit(4)  %} 
{% include "components/postslist-products-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">More Freshly Prepared Vegetables &gt;</a></div>
</div>

{% elif freshlypreparedvegetables and slicedcapsicum %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Freshly Prepared Vegetable Products</h3>
{% set postslist = collections['Freshly Prepared Vegetables'] | exclude("Sliced Capsicum") | limit(4)  %} 
{% include "components/postslist-products-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">More Freshly Prepared Vegetables &gt;</a></div>
</div>

{% elif freshlypreparedvegetables and dicedtomato %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Freshly Prepared Vegetable Products</h3>
{% set postslist = collections['Freshly Prepared Vegetables'] | exclude("Diced Tomato") | limit(4)  %} 
{% include "components/postslist-products-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">More Freshly Prepared Vegetables &gt;</a></div>
</div>

{% elif freshlypreparedvegetables and roastingcarrotportions %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Freshly Prepared Vegetable Products</h3>
{% set postslist = collections['Freshly Prepared Vegetables'] | exclude("Roasting Carrot Portions") | limit(4)  %} 
{% include "components/postslist-products-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">More Freshly Prepared Vegetables &gt;</a></div>
</div>

{% elif freshlypreparedvegetables and roastingcarrotportions %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Freshly Prepared Vegetable Products</h3>
{% set postslist = collections['Freshly Prepared Vegetables'] | exclude("Roasting Carrot Portions") | limit(4)  %} 
{% include "components/postslist-products-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">More Freshly Prepared Vegetables &gt;</a></div>
</div>

{% endif %}