<section class="useful-links"> 

    <div class="usefulsectionwrapper">
        <h3 class="heading-text">how we do things: offically.</h3>

       
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>GTSC Constitution</h4></div>
         
            <p><a class="useful" href="/static/governance/GTSC-Club-Constitution-April-2023-Final-Version.pdf" title="GTSC Constitution" target="_blank">GTSC-Club-Constitution-April-2023-Final-Version.pdf</a></p>
        </div>
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>GTSC By Laws</h4></div>
            <p><a class="useful" href="/static/governance/GTSC-Club-By-laws-May-2024-Final-Version.pdf" title="GTSC By Laws" target="_blank">GTSC-Club-By-laws-May-2024-Final-Version.pdf</p>
        </div>
      
    </div>    
    


       <!-- section break -->
       <div class="eightypercentborder3rem"></div>



</section>

