<section class="useful-links"> 

    <div class="usefulsectionwrapper">
        <h3 class="heading-text">Swim Central How To's</h3>

         <p><strong>Swim Central may be central to swimming, but it isn't always the easiest the navigate at the begining.</strong></p>
     
    
    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>How to Join Swim Central as a Brand New Member</h4></div>
        <p><a class="useful" href="/static/resources/How-to-Join-Swim-Central-as-a-Brand-New-Member" title="How to Join Swim Central as a Brand New Member" target="_blank" >How to Join Swim Central as a Brand New Member</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>How to Purchase Memberships</h4></div>
        <p><a class="useful" href="/static/resources/How-to-Purchase-Memberships.pdf" title="How to Purchase Memberships" target="_blank" >How to Purchase Memberships</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Primary Membership</h4></div>
        <p><a class="useful" href="/static/resources/Selecting-a-Primary-Membership.pdf" title="Primary Membership" target="_blank" >Primary Membership</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Entering Events</h4></div>
        <p><a class="useful" href="/static/resources/How-a-Swimmer-Enters-a-Meet-Online.pdf" title="Entering Events" target="_blank" >Entering Events</p>
    </div>
    
    
    
    
      
    </div>    
    



</section>

