<section class="useful-links"> 

    <div class="usefulsectionwrapper">
        <h3 class="heading-text">Swim Central Hub</h3>

        <h4>Swim Central is, well, central to all things swimming in NSW.</h4> 
        <p><strong>Swim Central is the place to go to find out about and pay club membership, enter swim meets, and to see the results.</strong></p>
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>Swim Central</h4></div>
            <div class="usefultextcontent"><p>Club Membership, Event Entries, it all happens here.</p></div>
            <p><a class="useful" href="https://swimcentral.swimming.org.au/home" title="https://swimcentral.swimming.org.au/home" target="_blank" >https://swimcentral.swimming.org.au/</p>
        </div>
    
        <div class="usefultextwrapper">
            <div class="usefultexttitle"><h4>Swim Central Results</h4></div>
            <div class="usefultextcontent"><p>The results of the above.</p></div>
            <p><a class="useful" href="https://www.swimming.org.au/events/results-central" title="https://www.swimming.org.au/events/results-central" target="_blank" >https://www.swimming.org.au/events/results-central</p>
        </div>
    
    
    
    
      
    </div>    
    
    <!-- section break -->

 <div class="eightypercentborder3rem"></div>


{% include "components/global/swim-central-how-to.html" %}


    <!-- section break -->

    <div class="eightypercentborder3rem"></div>

<div class="usefulsectionwrapper">
    <h3 class="heading-text">Swimming Governing Bodies</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming Australia</h4></div>
        <div class="usefultextcontent"><p>Swimming Australia is the peak governing body for swimming in Australia</p></div>
        <p><a class="useful" href="https://www.swimming.org.au/" title="https://www.swimming.org.au/" target="_blank" >https://www.swimming.org.au/</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW</h4></div>
        <div class="usefultextcontent"><p>Swimming NSW's purpose is to operate as an administrative agency of swimming in NSW.</p></div>
        <p><a class="useful" href="https://nsw.swimming.org.au/" title="https://nsw.swimming.org.au/" target="_blank" >https://nsw.swimming.org.au/</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming North Coast</h4></div>
        <p><a class="useful" href="https://www.swimmingnorthcoast.com/" title="https://www.swimmingnorthcoast.com/" target="_blank" >https://www.swimmingnorthcoast.com/</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Coast and Valley Swimming Association</h4></div>
        <div class="usefultextcontent"><p>Coast and Valley Swimming Association (CVSA) is the area body comprising swimming clubs from the Central Coast and Lower Hunter Valley. </p></div>
        <p><a class="useful" href="https://coastandvalleynsw.swimmingclub.org.au/" title="https://coastandvalleynsw.swimmingclub.org.au/" target="_blank" >https://coastandvalleynsw.swimmingclub.org.au/</p>
    </div>

  
</div>    

<!-- section break -->

    <div class="eightypercentborder3rem"></div>

<div class="usefulsectionwrapper">
    <h3 class="heading-text">Rules of Swimming</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Rules Of Swimming</h4></div>
        <p><a class="useful" href="/resources/SwimNSW-Rules-April-2020" title="Rules Of Swimming" target="_blank" >Rules Of Swimming</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Warm up Procedure</h4></div>
        <p><a class="useful" href="/resources/Warm-up-Procedures-6-Lane.pdf" title="Warm up Procedure" target="_blank" >Warm up Procedure</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Assisted Self Marshalling</h4></div>
        <p><a class="useful" href="/resources/Assisted-Self-Marshalling-50m.pdf" title="Assisted Self Marshalling" target="_blank" >Assisted Self Marshalling</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Starting Instructions</h4></div>
        <p><a class="useful" href="/resources/Starting-Instructions.pdf" title="Starting Instructions" target="_blank" >Starting Instructions</p>
    </div>

  
</div>    

<!-- section break -->




<div class="eightypercentborder3rem"></div>


<div class="usefulsectionwrapper">
    <h3 class="heading-text">Hopefully Helpful Stuff</h3>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Working with Children Check</h4></div>
        <div class="usefultextcontent"><p>Required for some positions</p></div>
        <p><a class="useful" href="https://ocg.nsw.gov.au/working-children-check" title="https://ocg.nsw.gov.au/working-children-check" target="_blank" >https://ocg.nsw.gov.au/working-children-check</p>
    </div>


    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW Club House</h4></div>
        <div class="usefultextcontent"><p>The Club House is Swimming NSW's online, digital club management and support guide to help swimming club committee members navigate the management of their club.</p></div>
        <p><a class="useful" href="https://clubhouse.swimming.org.au/" title="https://clubhouse.swimming.org.au/" target="_blank" >https://clubhouse.swimming.org.au/</p>
    </div>



    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Splash News / SwimScape Email Newsletters</h4></div>
        <p><a class="useful" href="https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a" title="https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a" target="_blank" >https://us8.campaign-archive.com/home/?id=b241cad62d&u=d16b77c8da9efccf39fecd64a</p>
    </div>

    <div class="usefultextwrapper">
        <div class="usefultexttitle"><h4>Swimming NSW Club Newsletter</h4></div>
        <p><a class="useful" href="https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a" title="https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a" target="_blank" >https://us8.campaign-archive.com/home/?id=bf3bd1d2bd&u=d16b77c8da9efccf39fecd64a</p>
    </div>

</div>    

<!-- section break -->
<div class="eightypercentborder3rem"></div>





<div class="usefulsectionwrapper">
    <h3 class="heading-text">Swimming Clubs</h3>

<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>Forster Aquatic Swimming Club</h4></div>
    <p><a class="useful" href="https://www.facebook.com/ForsterAquaticSwimClub/" title="https://www.facebook.com/ForsterAquaticSwimClub/" target="_blank" >https://www.facebook.com/ForsterAquaticSwimClub/</p>
</div>



<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>Stroud Seals</h4></div>
    <div class="usefultextcontent"><p>Train at the Lakeside Leisure Centre, Raymond Terrace  in an outdoor heated pool.</p></div>
    <p><a class="useful" href="https://stroudseals.au/" title="https://stroudseals.au/" target="_blank" >https://stroudseals.au/</p>
</div>

<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>Taree Torpedoes</h4></div>
    <div class="usefultextcontent"><p>Based out of the Manning Aquatic Leisure Centre Taree</p></div>
    <p><a class="useful" href="https://www.tareetorpedoes.com/" title="https://www.tareetorpedoes.com/"target="_blank" >https://www.tareetorpedoes.com/</p>
</div>

<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>NUSwim Swimming Club</h4></div>
    <div class="usefultextcontent"><p>The club is based at the Newcastle University’s Forum Sports and Aquatic Centre,
        which includes Newcastle’s only 50m indoor heated pool. </p></div>
        <p><a class="useful" href="https://nuswim.swimmingclub.org.au/" title="https://nuswim.swimmingclub.org.au/" target="_blank" >https://nuswim.swimmingclub.org.au/</p>
</div>

<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>Valley Aquatic Club</h4></div>
    <div class="usefultextcontent"><p>Valley Aquatic Club was established in June 2005 and is based at Maitland Aquatic Centre.</p></div>
    <p><a class="useful" href="https://valleyaquaticclub.weebly.com/" title="https://valleyaquaticclub.weebly.com/" target="_blank" >https://valleyaquaticclub.weebly.com/</p>
</div>

<div class="usefultextwrapper">
    <div class="usefultexttitle"><h4>Novocastrian Swim Club</h4></div>
    <div class="usefultextcontent"><p>Novocastrian Swim Club nights are held on Friday evenings, year round, at Coughlans Swim Centre, Newcastle.</p></div>
    <p><a class="useful" href="https://www.novoswimclub.com.au/" title="https://www.novoswimclub.com.au/" target="_blank" >https://www.novoswimclub.com.au/</p>
</div>

</div>

<!-- section break -->


</section>

