<div class="content who-we-serve">
   <div class="indent has-title">
                <h2>Food Service</h2>
            </div>
</div>'
'
<article class="clients">
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/qantas-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/alliance-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/virgin-australia-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/puma-energy-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/spotless-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/melbourne-health-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/mars-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/costco-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/gate-gourmet-logo.png"></a>
            </div> 
            
            
            <div class="clear"><!-- --></div>
        </article>


