<div class="content who-we-serve">
   <div class="indent has-title">
                 <h2>Quick Serve Restaurants</h2>
            </div>
</div>'
'
<article class="clients">
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/hungry-jacks-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/kfc-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/dominos-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/pizza-hut-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/subway-logo.png"></a>
            </div> 
            
            <div class="clear"><!-- --></div>
        </article>


