<div class="content who-we-serve">
    <div class="indent has-title">
        <h2>Retail</h2>
    </div>
</div>'
'
<article class="clients">
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.woolworths.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/woolworths-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.coles.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/coles-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.iga.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/iga-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.aldi.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/aldi-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.foodworks.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/foodworks-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.supabarn.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/supabarn-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.foodlandsa.com.au/" class="loaded" target="_blank"><img src="/static/img/clients-logos/foodland-logo.png"></a>
            </div> 
            
          
        </article>

<div class="content who-we-serve">
    <div class="indent has-title">
        <h2>Retail </h2>
    </div>
</div>'

{% set postslist = collections['Retail']  %} 
{% include "components/postslist-who-we-serve-3-wide.njk" %}