<div class="indent">

<h3>Retail</h3>

</div>

<article class="clients">
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="https://www.woolworths.com.au/" class="loaded" target="_blank" target="_blank"><img src="/static/img/clients-logos/woolworths-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="https://ik.imagekit.io/webtactics/pmfresh/img/clients-logos/coles-logo_6qUWUBsGO.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/iga-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/aldi-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/foodworks-logo.png"></a>
            </div>
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/supabarn-logo.png"></a>
            </div> 
            
            
            <!-- Client -->
            <div class="client fade-in">
                <a href="#" class="loaded" target="_blank"><img src="/static/img/clients-logos/foodland-logo.png"></a>
            </div> 
            
          
        </article>


