<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% if not entry.hide %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>


  {% if entry.url == "/products/cooked-chilled/" %}
<li class="hide"><a href="/products/cooked-chilled/" title="cooked-chilled" alt="cooked-chilled" aria-current="page"></a></li>
    {% endif %}




    {% if entry.children.length %}
       <ul class='second-level'>
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {%- endmacro %}

{% endif %}

<ul class='navbar-menu'>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}


</ul>
</nav>

