<section class="sliderbox">
 
<div class="home hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338">
<img aria-hidden="true"  decoding="async" src="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club"  width="1400" height="474">
</picture>



<div class="content herobox">
    <div class="flex-caption fade-in appear">
        <div class="flex-captionh1box">
            <h1 class="white">{{ title }}</h1>
        </div>
    </div>
</div>


</div>
</section>
