<section class="sliderbox">
 
<div class="hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="/static/assets/Green-Leaves-1920x1080.jpg">
<source media="(min-width: 601px)" srcset="/static/assets/Green-Leaves-1920x1080.jpg">
<img aria-hidden="true"  decoding="async" src="/static/assets/Green-Leaves-1920x1080.jpg" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club"  width="1920" height="1080">
</picture>


<div class="top-triangle triangle fade-in">
<img src="https://www.pmfresh.com.au/wp-content/themes/pmfresh/images/home-top-triangle.png">
<h2>{{ title }}</h2>    
</div>



</div>
</section>
