<section class="sliderbox">
 
<div class="hero hide-for-print">     

<picture>
    <!-- Mobile Image -->
    <source media="(max-width: 600px)" srcset="{% if image %}{{ image }}?tr=w-600,h-400{% else %}https://ik.imagekit.io/webtactics/pmfresh/pages/Green-Leaves_FhKdvj3EY.jpg/tr:w-600,h-400{% endif %}">
    <!-- Desktop Image -->
    <source media="(min-width: 601px)" srcset="{% if image %}{{ image }}?tr=w-1920,h-950{% else %}https://ik.imagekit.io/webtactics/pmfresh/pages/Green-Leaves_FhKdvj3EY.jpg/tr:w-1920,h-950{% endif %}">
    <!-- Fallback Image -->
    <img aria-hidden="true" loading="lazy" decoding="async" src="{% if image %}{{ image }}?tr=w-1920,h-950{% else %}https://ik.imagekit.io/webtactics/pmfresh/pages/Green-Leaves_FhKdvj3EY.jpg/tr:w-1920,h-950{% endif %}" alt="{{ title }}" title="{{ title }}" width="1920px" height="950px">
</picture>

<div class="Slide-in-left">
   <img src="https://ik.imagekit.io/webtactics/pmfresh/assets/triangle-1955x1385_smpK4h6N9.png">
        <div class="herotitlebox">
            <h2>Quality food.</br>
                Fresh thinking.</h2>  
        </div>  
</div>


</div>


</section>
