<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Gloucester Thunderbolts Swimming Club" id="logo">
<img src="https://ik.imagekit.io/webtactics/GTSC/assets/gtsc-logo-blue-368x257_GI5R9X4zS.png?updatedAt=1721346829802" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club" width="368px" height="auto">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>

</header>