<section class="sliderbox">
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/jamestaylor/tr:w-600,h-400/james-taylor-solicitor-contact-60__ZjAI2vN9.jpg?updatedAt=1710279789699">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/jamestaylor/tr:w-2000,h-400/james-taylor-solicitor-contact-60__ZjAI2vN9.jpg?updatedAt=1710279789699">
<img aria-hidden="true"  decoding="async" src="https://ik.imagekit.io/webtactics/jamestaylor/tr:w-2000,h-400/james-taylor-solicitor-contact-60__ZjAI2vN9.jpg?updatedAt=1710279789699" alt="James Taylor Bathurst Solicitor" title="James Taylor Bathurst Solicitor"  width="2000" height="400">
</picture>
</div>
</section>
