<section class="sliderbox">
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<div class="hero hide-for-print">     
<picture>
<source media="(max-width: 600px)" srcset="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338">
<source media="(min-width: 601px)" srcset="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338">
<img aria-hidden="true"  decoding="async" src="https://ik.imagekit.io/webtactics/GTSC/assets/blog_hero_QKeD20ytJ.jpg?updatedAt=1721345287338" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club"  width="1400" height="474">
</picture>
</div>
</section>
