{% set navPages = collections.all | eleventyNavigation %}
  {% macro renderNavListItem(entry) -%}
  <li{% if entry.url == page.url %} class="menuactive"{% endif %}>
    <a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>
 {% if entry.url == "/contact/thank-you/" %}
<li class="hide"><a href="/contact/thank-you/" title="" alt=""></a></li>
{% endif %}
    {% if entry.children.length %}
      <ul class="second">
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}

</li>
  {%- endmacro %}

<ul class="off-canvas-list">
<li><a href="/" title="Home" alt="Home">Home</a></li>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>

<div class="social-wrapper">
<div class="social-mobile"></div>
</div>