<nav class="childlist">
{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
{% set hasActiveChild = false %}
{% for child in entry.children %}
  {% if child.url == page.url %}{% set hasActiveChild = true %}{% endif %}
{% endfor %}
<li{% if entry.url == page.url %} class="active-class"{% elif hasActiveChild %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>




    {% if entry.children.length %}
       <ul class='second-level'>
        {% for child in entry.children %}
          {{ renderNavListItem(child) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
  {%- endmacro %}



<ul class='navbar-menu'>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}


</ul>
</nav>