<div class="two-colum-wrapper">	
   <h2 class="gold heading-text">2024-25 Season Gold Sponsors</h2>
<div class="resultswrapper">
	{%- set postslist = collections['Gold-Sponsor'] -%} 
	{% include "components/postslist-gold-sponsors.njk" %}
</div>
</div>

<div class="two-colum-wrapper">	
   <h2 class="silver heading-text">2024-25 Season Silver Sponsors</h2>
<div class="resultswrapper">
	{%- set postslist = collections['Silver-Sponsor']  -%} 
	{% include "components/postslist-silver-sponsors.njk" %}
</div>
</div>



<div class="two-colum-wrapper">	
   <h2 class="bronze heading-text">2024-25 Season Bronze Sponsors</h2>
<div class="resultswrapper">
	{%- set postslist = collections['Bronze-Sponsor'] -%} 
	{% include "components/postslist-bronze-sponsors.njk" %}
</div>
</div>