<div class="two-colum-wrapper">	
   <h2 class="heading-text">2025 Winter Events</h2>
<div class="resultswrapper">
	{%- set postslist = collections['2025-Winter']  -%} 
	{% include "components/postslist-events.njk" %}
</div>
</div>

<div class="eightypercentborder3rempadlow80pxabove"></div>

<div class="two-colum-wrapper">	
   <h2 class="heading-text">2024-25 Season Events</h2>
<div class="resultswrapper">
	{%- set postslist = collections['2024-25-Season-Events']  -%} 
	{% include "components/postslist-events.njk" %}
</div>
</div>

<div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="All Season Results" alt="All Season Results">For all Results &gt;</a></div>