 <div class="accordion contactpage">
	{% for post in postslist  %}



 <div class="accordion-item">
    <input id="accordion-trigger-{{ post.data.order }}" class="accordion-trigger-input" type="checkbox"></input>
      <label class="accordion-trigger" for="accordion-trigger-{{ post.data.order }}">{{ post.data.title }}</label>
        <section class="accordion-animation-wrapper">
          <div class="accordion-animation">
            <div class="accordion-transform-wrapper">
              <div class="accordion-content">
                
<div class="grid-2-products">
    <div class="content-left">
                <div class="description">Tel: {{ post.data.Tel }}</div>
                <div class="description">Tel: {{ post.data.Address }}</div>
                 <div class="description">Tel: {{ post.data.Address2 }}</div>

           </div>
           <div class="content-right">
                 {% if post.data.mapnsw %}
<div class="map">{% include "components/contact-maps/nsw.html" %}</div>
                    {% endif %}
    
            </div>
            </div>

              </div>
            </div>
          </div>
        </section>
  </div>



	{% endfor %}
</div>