{% for post in postslist %}

<article class="clients">
		
<div class="client fade-in">
    <a href="{{ post.data.website }}" class="loaded" target="_blank"><img src="{{ post.data.image }}" alt="{{ post.data.title }}" title="{{ post.data.title }}"></a>
</div> 

</article>
		
{% endfor %}
