{% extends "layouts/grid-default.njk" %}



{% block content %}
<div class="container">
	<main class="content results">


        <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
        </div>
	{{ content | safe }}

<div class="two-colum-wrapper">	
   <h2 class="heading-text">2024-25 Season Club Night Events</h2>
<div class="resultswrapper">
	{%- set postslist = collections['2024-25-Season-GTSC']  -%} 
	{% include "components/postslist-events.njk" %}
</div>
</div>

<div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="Club Night Results" alt="Club Night Results">For all Club Night Results &gt;</a></div>


	</main>
</div>
{% endblock %}

















