{% extends "layouts/grid-default.njk" %}




{% block content %}
<div class="container">
	<main class="content">

<div class="grid-7x4">

<div class="contentleft">
    <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
    </div>
	{{ content | safe }}
     {% include "components/global/usefullinks.html" %}
</div>


<aside class="sidebar">
    <div class="sidebarbox">
       <h2 class="heading-text">2024-25 Season Results</h2>
	{% set postslist = collections['2024-25-Results'] | reverse | limit(6) -%} 
	{% include "components/postslist-results-sidebar.njk" %}
    </div>
     <div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="2024-25 Season Event Results" alt="2024-25 Season Event Results" >For all Event Results &gt;</a></div>
</aside>

</div>
	</main>
</div>

{% endblock %}









