{% extends "layouts/grid-default.njk" %}





{% block bodyclass %}<body class="about {{ class }}" >{% endblock %}


{% block hero %}
{% include "components/grid-hero.njk" %}
{% endblock %}	


{% block content %}
<div class="container">
	<main class="content">


<div class="grid-2x1">

<div class="twothirds">
	{{ content | safe }}
</div>

 <div class="right-image slide-in from-right" style="right: 0px;">
<img src="images/about-us-image-1.png">
</div>
             

</div>

	</main>
</div>

{% endblock %}


