{% extends "layouts/grid-default.njk" %}

{% block content %}
<div class="container">
	<main class="content">


<div class="grid-2-products">

	<div class="content-left">

		<div class="text">
    		<div class="titlebox fade-in"><h2 class="heading-text">{{ subtitle }}</h2></div>
      			<div class="indent">
					{{ content | safe }}
				</div>
		</div>

	</div>

	<div class="content-right">
 		<div class="right-image slide-in from-right">
			<img src="{% if rightimage %}{{ rightimage }}{% else %}https://ik.imagekit.io/webtactics/pmfresh/img/products/categories/about-us-1920x953_kULfkrgVH.jpg{% endif %}/tr:w-700,h-348" alt="{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}" title="{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}">
		</div>
	</div>          

</div>

	</main>
</div>

<div class="container">
<div class="content-who-we-serve">
{% include "components/global/who-we-serve-retail.html" %}
<div class="clear"><!-- --></div>
{% include "components/global/who-we-serve-food-service.html" %}
<div class="clear"><!-- --></div>
{% include "components/global/who-we-serve-quick-serve.html" %}
<div class="clear"><!-- --></div>
<div class="pad4rem"><!-- --></div>
</div>
</div>

{% endblock %}