<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/grid-head.njk" %}

	
{% block bodyclass %}<body class="internal {{ class }} " >{% endblock %}

{% block offcanvas %}
<nav class="offcanvas">
<div class="close-nav-wrapper">
<button class="close-nav">Close Menu X</button>
</div>

<div id="menu_vert">

<div class="mobilemenu">
 {% include "components/grid-nav-side.njk" %}
</div>

<div class="grid-2-small">
<div class="smalltextwrapper">
<h3>Follow us @</h3>
</div>
<div class="mobilewrapper">
	<ul class="infoboxmobile">
		<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/GloucesterThunderboltsSwimmingClub" target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/></svg></a>
		</li>
		<li><a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/ChangsAsianFood/" target="_blank">
			<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 14 14">
			<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
			<path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/>
			<path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/>
			<path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/></g>
			</svg></a>
		</li>

	</ul>
</div>
</div>

</div>

</nav>
{% endblock %}


{% block grid-header %}
<header id="header" class="topbar headerwrapper">
	<div class="hamburger show-for-small hide-for-large">
		<div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
			<span class="title-bar-title">Menu</span>
		</div>
	</div>
	<div class="navwrapper">
		<div class="logo">
				<a href="/" title="Return to the homepage | Gloucester Thunderbolts Swimming Club" id="logo">
				<img src="hhttps://ik.imagekit.io/webtactics/GTSC/assets/gtsc-logo-blue-368x257_GI5R9X4zS.png?updatedAt=1721346829802" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club" height="69px" width="260px">
				</a>
		</div>

	<div class="navrightside hide-for-scroll hide-for-small">
		<div class="navrightsidetopline hide-for-small">

			<ul class="infobox">
			    <li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/GloucesterThunderboltsSwimmingClub" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
			    <path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
		        </svg></a></li>
			    <li><a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/ChangsAsianFood/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 14 14">
			    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
				<path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/>
				<path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/>
				<path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/>
			    </g>
		        </svg></a></li>
		        <li><a class="text-icon hide-for-small" href="{root_url}/contact" title="Contact Gloucester Thunderbolts Swimming Club">Contact</a></li>
	
		        <li class="hide-for-small"><a href="{pageurl}#newsletter" class="text-icon hide-for-small" title="Join Gloucester Thunderbolts Swimming Club Newsletter">Sign up to our newsletter</a></li>
            </ul>
        </div>
	<div class="navrightsidebottomline hide-for-small">
		<nav class="navbar hide-for-small">
			{% include "components/grid-nav-top.njk" %}
		</nav>
	</div>

	</div>
    </div>

</header>
{% endblock %}


{% block headerspace %}
	<div class="headerspace {{ entry.title }}"></div>
{% endblock %}

{% block hero %}{% endblock %}

{% block redgradient %}
    <div class="redgradient">
        <div class="content redgradientcontent">
            <div class="redgradientcontentwrapper">
            <h1 style="text-align:center;" class="text-center white" >{{ title }}</h1>
                <div class="redgradientcontenttextbox">
            <p style="text-align:center;" class="text-center white">{{ description }}</p>
            
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="container">
	<main class="content">
	{{ layoutContent | safe }}
	</main>
</div>
{% endblock %}



{% block footer %}
<footer class="footernavwrapper"> 
<div class="footernav">  

<div class="navwrapper">
			<div class="logo">
				<a href="/" title="Return to the homepage | Gloucester Thunderbolts Swimming Club" id="logo-footer">
				<img src="https://ik.imagekit.io/webtactics/changs-media/tr:w-260,h-69/Logo_8VlN-CEGY.png?updatedAt=1711437150532" alt="Gloucester Thunderbolts Swimming Club" title="Gloucester Thunderbolts Swimming Club" height="59px" width="221px">
		 		</a>
			</div>

		<div class="navrightside">
<div class="navrightupperspace"></div>


<div class="navrightsidetopline">
	<ul class="infobox">
		<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/GloucesterThunderboltsSwimmingClub" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
		</svg></a>
		</li>
		<li><a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/ChangsAsianFood/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 14 14">
			<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
				<path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"/>
				<path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"/>
				<path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"/>
			</g>
		</svg></a>
		</li>
		<li class="hide-for-small"><a class="text-icon" href="{root_url}/admin" title="Admin Gloucester Thunderbolts Swimming Club">Site Admin</a></li>
		<li><a class="text-icon" href="{root_url}/contact" title="Contact Gloucester Thunderbolts Swimming Club">Contact</a></li>
		<li class="hide-for-small"><a href="{pageurl}#newsletter" class="text-icon hide-for-small" title="Join Gloucester Thunderbolts Swimming Club Newsletter">Sign up to our newsletter</a></li>
		<li><a class="text-icon" href="{root_url}/changs-tv " title="Great Asian Anyone Can Understand">Changs TV</a></li>
		<li><a class="text-icon" href="{root_url}/why-changs " title="The story of Gloucester Thunderbolts Swimming Club">About</a></li>
	</ul>
</div>



			<div class="navrightsidebottomline">
				<nav class="navbar">
				<p>© Copyright {custom_copyright}  - {sitename}</p> 
				</nav>
			</div>

			<div class="navrightlowerspace"></div>


		</div>
	</div>

</div>
</footer>
{% endblock %}





{% include "components/javascript.njk" %}

</body>
</html>































