{% extends "layouts/grid-default.njk" %}





{% block bodyclass %}<body class="about {{ class }}" >{% endblock %}


{% block hero %}
{% include "components/grid-hero.njk" %}
{% endblock %}	


{% block content %}
<div class="container">
	<main class="content">


<div class="grid-2">

<div class="left">
	{{ content | safe }}
</div>

 <div class="right-image slide-in from-right">
<img src="/static/img/pages/about-us-right-1.jpg" alt=" {{ title }} " title=" {{ subtitle }} ">
</div>
             

</div>

	</main>
</div>

{% endblock %}


