{% extends "layouts/grid-default.njk" %}









{% block content %}
<section role="main" class="main">  
<h1 class="heading-text">{{ title }}</h1>
<div class="content-detail">  
	{{ content | safe }}
</div>
</section>
{% endblock %}



