{% extends "layouts/grid-default.njk" %}

{% block bodyclass %}<body class="about {{ class }} " >
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v21.0"></script>{% endblock %}


{% block content %}
<div class="container">
	<main class="content">

<div class="grid-7x4">

<div class="contentleft">
    <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
    </div>
	{{ content | safe }}
</div>


<aside class="sidebar">
    <div class="sidebarbox">


{% if eventssidebar %}
   <h2 class="heading-text">Upcoming 2024-25 Season Events</h2>
{% set postslist = collections['Featured'] | limit(6) -%} 
	{% include "components/postslist-events-sidebar.njk" %}

    <div class="linkwrapper"><a class="resultspdf" href="/events/" title="2024-25 Season Events" alt="2024-25 Season Events" >For all Event Listings &gt;</a></div>
    {% else %}

    <h2 class="heading-text">Recent 2024-25 Season Results</h2>
	{% set postslist = collections['Results'] | reverse | limit(3) -%} 
	{% include "components/postslist-results-sidebar.njk" %}
    <div class="linkwrapper"><a class="resultspdf" href="/events/results/" title="2024-25 Season Event Results" alt="2024-25 Season Event Results" >For all Event Results &gt;</a></div>

{% endif %}


    </div>
</aside>

</div>
	</main>
</div>

{% endblock %}


