<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
{% block headmeta %}
{% include "components/grid-head.njk" %}
{% endblock %}
	
{% block bodyclass %}<body class=" {{ class }} " >{% endblock %}

{% block offcanvas %}
<nav class="offcanvas">
	<div class="close-nav-wrapper">
		<button class="close-nav">Close Menu X</button>
	</div>

<div id="menu_vert">
	<div class="mobilemenu">
 		{% include "components/grid-nav-side.njk" %}
	</div>
</div>


<div class="grid-2-mobilenav">
	<div class="smalltextwrapper">
		<h3>Follow us @</h3>
	</div>

	<div class="mobilewrapper">
		<ul class="infoboxmobile">
			<li>
				<a class="social-icon" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/pmfresh/" target="_blank"><svg width="26px" height="26px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.5C0 0.671573 0.671573 0 1.5 0H13.5C14.3284 0 15 0.671573 15 1.5V13.5C15 14.3284 14.3284 15 13.5 15H1.5C0.671573 15 0 14.3284 0 13.5V1.5ZM5 5H4V4H5V5ZM4 11V6H5V11H4ZM8.5 7C7.67157 7 7 7.67157 7 8.5V11H6V6H7V6.49982C7.41783 6.18597 7.9372 6 8.5 6C9.88071 6 11 7.11929 11 8.5V11H10V8.5C10 7.67157 9.32843 7 8.5 7Z" fill="currentColor"/></svg></a>
			</li>

			<li>
				<a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/pmfresh_oz/" target="_blank"><svg fill="currentColor" width="26px" height="26px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><path d="M23,0H9C4,0,0,4,0,9v6v8c0,5,4,9,9,9h14c5,0,9-4,9-9v-8V9C32,4,28,0,23,0z M16,10c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6 S12.7,10,16,10z M22,7c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S22,8.1,22,7z"/></svg></a>
				</li>

			<li>
				<a class="social-icon" title="Follow us on Twitter" href="https://twitter.com/PMFreshPtyLtd" target="_blank"><svg width="26px" height="26px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="currentColor" d="M16 3c-0.6 0.3-1.2 0.4-1.9 0.5 0.7-0.4 1.2-1 1.4-1.8-0.6 0.4-1.3 0.6-2.1 0.8-0.6-0.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 0.3 0 0.5 0.1 0.7-2.7-0.1-5.2-1.4-6.8-3.4-0.3 0.5-0.4 1-0.4 1.7 0 1.1 0.6 2.1 1.5 2.7-0.5 0-1-0.2-1.5-0.4 0 0 0 0 0 0 0 1.6 1.1 2.9 2.6 3.2-0.3 0.1-0.6 0.1-0.9 0.1-0.2 0-0.4 0-0.6-0.1 0.4 1.3 1.6 2.3 3.1 2.3-1.1 0.9-2.5 1.4-4.1 1.4-0.3 0-0.5 0-0.8 0 1.5 0.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3 0-0.1 0-0.3 0-0.4 0.7-0.5 1.3-1.1 1.7-1.8z"></path></svg></a>
			</li>

			<li>
				<a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/PM-Fresh-Pty-Ltd-104225754405885/" target="_blank"><svg fill="currentColor" width="26px" height="26px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"/></svg></a>
			</li>

		</ul>
	</div>
</div>

</nav>
{% endblock %}


{% block header %}
<header id="header" class="topbar headerwrapper">
	<div class="hamburger">
		<div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
			<span class="title-bar-title"></span>
		</div>
	</div>
		<div class="navwrapper">
			<div class="logo">
					<a href="/" title="Return to the homepage | Proudly Australian and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." id="logo" class="logolink">
<img src="https://ik.imagekit.io/webtactics/pmfresh/pmfresh-logo_bkfE1wlep.png?updatedAt=1752119283284" alt="Proudly Australian, and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." title="Proudly Australian and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." height="auto" width="466px">
	</a>
			</div>

		<div class="navrightside hide-for-scroll hide-for-small">
			<div class="navrightsidetopline hide-for-scroll hide-for-small">

			<ul class="infobox">
		

			<li>
				<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/pmfresh/" target="_blank">
				<svg width="24px" height="24px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.5C0 0.671573 0.671573 0 1.5 0H13.5C14.3284 0 15 0.671573 15 1.5V13.5C15 14.3284 14.3284 15 13.5 15H1.5C0.671573 15 0 14.3284 0 13.5V1.5ZM5 5H4V4H5V5ZM4 11V6H5V11H4ZM8.5 7C7.67157 7 7 7.67157 7 8.5V11H6V6H7V6.49982C7.41783 6.18597 7.9372 6 8.5 6C9.88071 6 11 7.11929 11 8.5V11H10V8.5C10 7.67157 9.32843 7 8.5 7Z" fill="currentColor"/></svg>
</a>
</li>

					<li>
						<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Instagram" href="https://www.instagram.com/pmfresh_oz/" target="_blank">
						<svg fill="currentColor" height="24px" width="24px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 viewBox="0 0 32 32" xml:space="preserve">
<path d="M23,0H9C4,0,0,4,0,9v6v8c0,5,4,9,9,9h14c5,0,9-4,9-9v-8V9C32,4,28,0,23,0z M16,10c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6
	S12.7,10,16,10z M22,7c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S22,8.1,22,7z"/>
</svg>
	</a>
		</li>
<li>
		<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Twitter" href="https://twitter.com/PMFreshPtyLtd" target="_blank">
<svg width="24px" height="24px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<path fill="currentColor" d="M16 3c-0.6 0.3-1.2 0.4-1.9 0.5 0.7-0.4 1.2-1 1.4-1.8-0.6 0.4-1.3 0.6-2.1 0.8-0.6-0.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 0.3 0 0.5 0.1 0.7-2.7-0.1-5.2-1.4-6.8-3.4-0.3 0.5-0.4 1-0.4 1.7 0 1.1 0.6 2.1 1.5 2.7-0.5 0-1-0.2-1.5-0.4 0 0 0 0 0 0 0 1.6 1.1 2.9 2.6 3.2-0.3 0.1-0.6 0.1-0.9 0.1-0.2 0-0.4 0-0.6-0.1 0.4 1.3 1.6 2.3 3.1 2.3-1.1 0.9-2.5 1.4-4.1 1.4-0.3 0-0.5 0-0.8 0 1.5 0.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3 0-0.1 0-0.3 0-0.4 0.7-0.5 1.3-1.1 1.7-1.8z"></path>
</svg>
</a>
		</li>

		<li>
			<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Facebook" href="https://www.facebook.com/PM-Fresh-Pty-Ltd-104225754405885/" target="_blank"><svg fill="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"/></svg></a>
		</li>



		<li><a class="tradelogin hide-for-scroll hide-for-small" href="https://pmfresh-live.prontoavenue.biz/login" title="{{ sitename }} - Trade Customer Login" target="_blank">Trade Customer Login</a></li>

	

			</ul>




			</div>
		<div class="navrightsidebottomline hide-for-small">
			<nav class="navbar hide-for-small">
				{% include "components/grid-nav-top.njk" %}
			</nav>
		</div>
		</div>
	</div>

	<div class="pad100"></div>

</header>

{% endblock %}







{% block hero %}
{% include "components/grid-hero.njk" %}
{% endblock %}


{% block content %}
<div class="container">
	<main class="content">
        <div class="titlebox fade-in appear">

{% if gold %}
<h2 class="gold heading-text">2024-25 Season Gold Sponsor</h2></br>
{% elif silver %}
<h2 class="silver heading-text">2024-25 Season Silver Sponsor</h2></br>
{% elif bronze %}
<h2 class="bronze heading-text">2024-25 Season Bronze Sponsor</h2></br>
{% endif %}

<h1 class="heading-text">{{ title }}</h1>


        </div>
	{{ content | safe }}

{% if page.url == "/events/" %}
{% include "components/page-events.njk" %}
{% elif page.url == "/about/sponsors/" %}
{% include "components/page-sponsors.njk" %}
{% elif page.url == "/events/records/" %}
{% include "components/page-records.njk" %}
{% elif page.url == "/events/club-nights/" %}
{% include "components/page-clubnights.njk" %}
{% else %}
{% endif %}


	</main>
</div>
{% endblock %}

{% block content2 %}{% endblock %}
{% block content3 %}{% endblock %}

{% block newsletter %}
	<div class="section emailbg" style="background: url(https://ik.imagekit.io/webtactics/pmfresh/pages/our-products_sNno-UQxs.jpg?updatedAt=1762391748936) no-repeat center center;width:100%; background-size:cover;">

		<div class="content emailbgcontainer">

			<div class="content emailbox">
				<a id="newsletter"><h3 class="emailboxh3" >Sign up to our newsletter</h3></a>
				<p class="white">Be informed and entertained!<br/>Subscribe to our newsletter and indulge in mouth-watering recipes, expert tips, exclusive deals, and a world of gourmet inspiration delivered straight to your inbox.</p>

				<form class="js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="191722FC90141D02184CB1B62AB3DC263A612CC7EF95391906088D1B2C8E0F511919419E68376EA1CE016115826817A73FEC815F143B196367D7E3A80AD51791">
					<div class="grid-5-2-columns">
						<div class="emailbgrowleft">
							<div class="emailbgrowlefttop">
								<label class="custom-field" aria-label="Enter your name">
							<input class="emailbginput" id="fieldName" maxlength="200" name="cm-name" placeholder="Your name" required="" onfocus="if(this.value==this.defaultValue) this.value='';" onblur="if(this.value=='') this.value=this.defaultValue;" type="text">
								</label>
							</div>
							<div class="emailbgrowleftbottom">
								<label class="custom-field" aria-label="Enter your email address">
								<input autocomplete="Email" class="js-cm-email-input qa-input-email emailbginput" id="fieldEmail" maxlength="200" name="cm-tjzykh-tjzykh" placeholder="Enter your email address" required="" type="email">
								</label>
							</div>
							<div class="hidden emailhidden">
								<label class="custom-field" aria-label="Confirm your email address">
									<input class="hidden emailbginput" id="fieldtyflhl" maxlength="200" name="cm-f-tyflhl" type="text" placeholder="Enter your email address" />
								</label>
							</div>
						</div>
						<div class="emailbgrowright">
						<button class="success fullwidth" type="submit" title="Subscribe" alt="Subscribe">Subscribe</button>
						<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
						</div>	
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}






{% block footer %}
<footer class="footernavwrapper"> 
<div class="footernav">  


	<div class="footerleft">
		
<div class="footerlefttop">
<!-- Get In Touch Button -->
            <a href="/contact/" id="get-in-touch-button" class="loaded">Get in touch</a>
         </div>   
            
            <!-- Footer Menu -->
		<div class="footerleftbottom">
            <nav class="footer-nav">
                <ul class="footer-menu">
                    <li id="menu-item-190" class="footer-nav-item"><a href="/contact/#careers" class="loaded">Careers</a></li>
<li id="menu-item-189" class="footer-nav-item"><a href="/contact/" class="loaded">Contact</a></li>
<li id="menu-item-188" class="footer-nav-item"><a href="/privacy-policy/" class="loaded">Privacy Policy</a></li>
                </ul>
            </nav>
</div>

	</div>

<div class="footerright">

<div class="footerrighttopline">
<div id="socialwhite">

<ul class="infoboxfooter">
		
<li>
	<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on LinkedIn" href="https://www.linkedin.com/company/pmfresh/" target="_blank"><svg width="24px" height="24px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.5C0 0.671573 0.671573 0 1.5 0H13.5C14.3284 0 15 0.671573 15 1.5V13.5C15 14.3284 14.3284 15 13.5 15H1.5C0.671573 15 0 14.3284 0 13.5V1.5ZM5 5H4V4H5V5ZM4 11V6H5V11H4ZM8.5 7C7.67157 7 7 7.67157 7 8.5V11H6V6H7V6.49982C7.41783 6.18597 7.9372 6 8.5 6C9.88071 6 11 7.11929 11 8.5V11H10V8.5C10 7.67157 9.32843 7 8.5 7Z" fill="currentColor"/></svg>
	</a>
</li>

<li>
	<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Instagram" href="https://www.instagram.com/pmfresh_oz/" target="_blank"><svg fill="currentColor" height="24px" width="24px" version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve"><path d="M23,0H9C4,0,0,4,0,9v6v8c0,5,4,9,9,9h14c5,0,9-4,9-9v-8V9C32,4,28,0,23,0z M16,10c3.3,0,6,2.7,6,6s-2.7,6-6,6s-6-2.7-6-6
	S12.7,10,16,10z M22,7c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S22,8.1,22,7z"/></svg>
	</a>
</li>

<li>
	<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Twitter" href="https://twitter.com/PMFreshPtyLtd" target="_blank"><svg width="24px" height="24px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="currentColor" d="M16 3c-0.6 0.3-1.2 0.4-1.9 0.5 0.7-0.4 1.2-1 1.4-1.8-0.6 0.4-1.3 0.6-2.1 0.8-0.6-0.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 0.3 0 0.5 0.1 0.7-2.7-0.1-5.2-1.4-6.8-3.4-0.3 0.5-0.4 1-0.4 1.7 0 1.1 0.6 2.1 1.5 2.7-0.5 0-1-0.2-1.5-0.4 0 0 0 0 0 0 0 1.6 1.1 2.9 2.6 3.2-0.3 0.1-0.6 0.1-0.9 0.1-0.2 0-0.4 0-0.6-0.1 0.4 1.3 1.6 2.3 3.1 2.3-1.1 0.9-2.5 1.4-4.1 1.4-0.3 0-0.5 0-0.8 0 1.5 0.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3 0-0.1 0-0.3 0-0.4 0.7-0.5 1.3-1.1 1.7-1.8z"></path></svg>
	</a>
</li>

<li>
	<a class="social-icon hide-for-scroll hide-for-small" title="Follow us on Facebook" href="https://www.facebook.com/PM-Fresh-Pty-Ltd-104225754405885/" target="_blank"><svg fill="currentColor" width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="M20.9,2H3.1A1.1,1.1,0,0,0,2,3.1V20.9A1.1,1.1,0,0,0,3.1,22h9.58V14.25h-2.6v-3h2.6V9a3.64,3.64,0,0,1,3.88-4,20.26,20.26,0,0,1,2.33.12v2.7H17.3c-1.26,0-1.5.6-1.5,1.47v1.93h3l-.39,3H15.8V22h5.1A1.1,1.1,0,0,0,22,20.9V3.1A1.1,1.1,0,0,0,20.9,2Z"/></svg>
	</a>
</li>

</ul>

</div>
</div>

<div class="footerrightbottomline">
	<p id="copyright">© {{ helpers.currentYear() }} PMFresh Pty Ltd.</p>	
</div>

</div>
	
</div>
</footer>
{% endblock %}





{% include "components/grid-js.njk" %}

</body>
</html>































