{% extends "layouts/grid-default.njk" %}





{% block bodyclass %}<body class="about {{ class }}" >{% endblock %}





{% block content %}
<div class="container">
	<main class="content">


<div class="grid-2-products">

	<div class="content-left">

		<div class="text">
    		<div class="titlebox fade-in"><h2 class="heading-text">{{ subtitle }}</h2></div>
      			<div class="indent">
					{{ content | safe }}
				</div>
		</div>

	</div>

	<div class="content-right">
 		<div class="right-image slide-in from-right">
			<img src="{% if rightimage %}{{ rightimage }}{% else %}https://ik.imagekit.io/webtactics/pmfresh/pages/about/about-us-right-1-900x600_JJhQmeXWdv.jpg?updatedAt=1763083400209{% endif %}" alt="{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}" title="{% if subtitle %}{{ subtitle }}{% else %}{{ title }}{% endif %}">
		</div>
	</div>          

</div>


{% if products %}
<div class="pad8rem"></div>
<div class="grid-2-products">

	<div class="content-left">
		<div class="left-image slide-in from-left">
			<a href="/products/cooked-chilled/" title="Cooked Chilled" alt="Cooked Chilled"><img src="https://ik.imagekit.io/webtactics/pmfresh/img/products/categories/Cooked-Chilled-1920x953_kBiGC8eJM.jpg" alt="Cooked Chilled." title="Cooked Chilled."></a>
		</div>
	</div>

	<div class="content-right">

		<div class="text">
			<div class="titlebox fade-in">
				<h2 class="heading-text"><a href="/products/cooked-chilled/" title="Cooked Chilled" alt="Cooked Chilled">Cooked Chilled</a></h2>
			</div>

			<div class="indent">
				<p>We supply daily, freshly prepared and dressed salads ready to go from the deli counter at your local supermarket.</p>
			</div>
		</div>

	</div>          

</div>

<div class="pad8rem"></div>

<div class="grid-2-products">

	<div class="content-left">

		<div class="text">
    		<div class="titlebox fade-in"><h2 class="heading-text"><a href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables">Freshly Prepared Vegetables</a></h2></div>
      			<div class="indent">
					<p>We do the prepping so you can do the serving. Cut down on time and resources by letting us do the cutting, slicing and chopping!</p>
				</div>
		</div>

	</div>

	<div class="content-right">
 		<div class="right-image slide-in from-right">
			<a href="/products/freshly-prepared-vegetables/" title="Freshly Prepared Vegetables" alt="Freshly Prepared Vegetables"><img src="https://ik.imagekit.io/webtactics/pmfresh/img/products/categories/Cut-Vegetables-1920x953_daMNGp4L_.jpg" alt="Freshly Prepared Vegetables" title="{Freshly Prepared Vegetables"></a>
		</div>
	</div>          

</div>


{% elif whatsinseason %}
<div class="pad8rem"></div>
<div class="productcatagory content">
<h2>Freshly Prepared Vegetables</h2>
{% set postslist = collections['Freshly Prepared Vegetables'] | reverse  %} 
{% include "components/postslist-products-4-wide.njk" %}
</div>


{% elif cookedchilled %}
<div class="pad8rem"></div>
<div class="productcatagory content">
<h2>Cooked & Chilled</h2>
{% set postslist = collections['Cooked & Chilled'] | reverse  %} 
{% include "components/postslist-products-4-wide.njk" %}
</div>


{% elif freshlypreparedvegetables %}
<div class="productcatagory content">
<h2>Freshly Prepared Vegetables</h2>
{% set postslist = collections['Freshly Prepared Vegetables'] | reverse  %} 
{% include "components/postslist-products-4-wide.njk" %}
</div>
{% endif %}












	</main>
</div>



{% endblock %}




