{% extends "layouts/grid-default.njk" %}


{% block content %}
<div class="container">
	<main class="content records">
        <div class="titlebox fade-in appear">
       <h1 class="heading-text">{{ title }}</h1>
        </div>
	{{ content | safe }}

	{# section #}

<div class="two-colum-wrapper">	
<h2 class="heading-text">Gloucester Thunderbolts Swimming Club Records</h2>
<div class="resultswrapper">
	{% set postslist = collections['GTSC-Records'] -%} 
	{% include "components/postslist-records.njk" %}
</div>
</div>
{# section #}

<div class="eightypercentborder3rem"></div>

<div class="two-colum-wrapper">	
<h2 class="heading-text">Swimming North Coast Records</h2>
<div class="resultswrapper">
	{% set postslist = collections['North-Coast-Records'] -%} 
	{% include "components/postslist-records.njk" %}
</div>
</div>

{# section #}



<div class="eightypercentborder3rem"></div>

<div class="two-colum-wrapper">	
<h2 class="heading-text">Swimming NSW Long Course Records</h2>
<div class="resultswrapper">
	{% set postslist = collections['NSW-Long-Course-Records'] -%} 
	{% include "components/postslist-records.njk" %}
</div>
</div>

{# section #}

<div class="eightypercentborder3rem"></div>

<div class="two-colum-wrapper">	
<h2 class="heading-text">Swimming NSW Short Course Records</h2>
<div class="resultswrapper">
	{% set postslist = collections['NSW-Short-Course-Records'] -%} 
	{% include "components/postslist-records.njk" %}
</div>
</div>

{# section #}
	</main>
</div>
{% endblock %}


