{% extends "layouts/grid-default.njk" %}





{% block bodyclass %}<body class="about {{ class }}" >{% endblock %}


{% block header %}
<header id="header" class="topbar headerwrapper">
	<div class="hamburger">
		<div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
			<span class="title-bar-title">Menu</span>
		</div>
	</div>
		<div class="navwrapper">
			<div class="logo">
					<a href="/" title="Return to the homepage | Proudly Australian and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." id="logo" class="logolink">
<img src="https://ik.imagekit.io/webtactics/pmfresh/pmfresh-logo_bkfE1wlep.png?updatedAt=1752119283284" alt="Proudly Australian, and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." title="Proudly Australian and privately-owned, at PMFresh, we pride ourselves in our extensive experience and expertise in the fresh food industry." height="auto" width="466px">
	</a>
			</div>

		<div class="navrightside hide-for-scroll hide-for-small">
			<div class="navrightsidetopline hide-for-scroll hide-for-small">

			<ul class="infobox">
			<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"></path>
		</svg></a></li>
			<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"></path>
		</svg></a></li>
			<li><a class="social-icon" title="Follow us on Facebook" href="https://www.facebook.com/changsasianfood" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
			<path fill="currentColor" d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"></path>
		</svg></a></li>
			<li><a class="social-icon" title="Follow us on Instagram" href="https://www.instagram.com/ChangsAsianFood/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 14 14">
			<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
				<path d="M10.333 3.644a.25.25 0 1 1 0-.5m0 .5a.25.25 0 1 0 0-.5"></path>
				<path d="M.858 3.431A2.573 2.573 0 0 1 3.431.858h6.862a2.573 2.573 0 0 1 2.573 2.573v6.862a2.573 2.573 0 0 1-2.573 2.573H3.43a2.573 2.573 0 0 1-2.573-2.573V3.43Z"></path>
				<path d="M4.312 6.862a2.55 2.55 0 1 0 5.1 0a2.55 2.55 0 1 0-5.1 0"></path>
			</g>
		</svg></a></li>
		<li><a class="tradelogin hide-for-scroll hide-for-small" href="https://pmfresh-live.prontoavenue.biz/login" title="{{ sitename }} - Trade Customer Login" target="_blank">Trade Customer Login</a></li>

	
	

		
			</ul>




			</div>
		<div class="navrightsidebottomline hide-for-small">
			<nav class="navbar hide-for-small">
				{% include "components/grid-nav-top.njk" %}
			</nav>
		</div>
		</div>
	</div>



</header>

{% endblock %}



{% block hero %}
{% include "components/grid-hero.njk" %}
{% endblock %}	


{% block content %}
<div class="container">
	<main class="content">


<div class="grid-2x1">

<div class="twothirds">
    <div class="titlebox fade-in"><h1 class="heading-text">{{ title }}</h1></div>
	{{ content | safe }}
</div>

<div class="onethird">
	<div class="fbswrapper">
		<div class="fb-page" data-href="https://www.facebook.com/GloucesterThunderboltsSwimmingClub" data-tabs="timeline" data-width="500px" data-height="500px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
			<blockquote cite="https://www.facebook.com/GloucesterThunderboltsSwimmingClub" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GloucesterThunderboltsSwimmingClub">Gloucester Thunderbolts Swimming Club</a>
			</blockquote>
		</div>
	</div>
</div>

</div>




<div class="eightypercentborder"></div>
<div class="resultswrapper">
      <h2 class="heading-text">2024-25 Season GTSC Events</h2>
	{% set postslist = collections['Products'] | reverse %} 
	{% include "components/postslist-events.njk" %}
</div>
<div class="linkwrapper"><a class="resultspdf" href="/events/" title="2024-25 Season Events" alt="2024-25 Season Events">For all Event Listings &gt;</a></div>



	</main>
</div>

{% endblock %}


