---
layout: layouts/grid-detail.njk
section: post
---



<div class="detailwrapper recipes">
  <article>
    <div class="grid-2-news">

      <div class="item postdetail">

        <div class="detailcontent">

          <h2>PMFresh's {{ title }}</h2>


          <div class="recipedetailserveprepdifficultbox">
             {% if preptime %}<div class="recipedetailserveprepdifficult"><span class="reddetail">Preparation time:</span>{{ preptime }}</div>{% endif %}
                {% if cookingtime %}<div class="recipedetailserveprepdifficult"><span class="reddetail">Cooking time:</span>{{ cookingtime }}</div>{% endif %}
                  {% if serves %}<div class="recipedetailserveprepdifficult"><span class="reddetail">Serves:</span>{{ serves }}</div>{% endif %}
                  </div>
             



       
            {{ content | safe }}





</div>
      </div>
        
        <div class="sidebarwrapper">
          <div class="postnewsimage">
            <img src="{{ image }}/tr:w-600,h-400" alt="{{ title }}" title="{{ title }}" width="600px" height="auto" class="postlistimg">
          </div>
        </div>

    </div>

  </article>
</div>


{% include "components/global/tagged.html" %}

 {% if CrunchySaladKit %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Products:</h3>
{% set postslist = collections['Crunchy Salad Kit']  |  randomLimit(4, page.url)  %} 
{% include "components/postslist-recipes-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/recipes/" title="More Recipes" alt="More Recipes">More Recipes &gt;</a></div>
</div>
 {% elif PastaSalad %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Products:</h3>
{% set postslist = collections['Pasta Salad']  |  randomLimit(4, page.url)  %} 
{% include "components/postslist-recipes-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/recipes/" title="More Recipes" alt="More Recipes">More Recipes &gt;</a></div>
</div>
 {% elif Coleslaw %}
<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Related Products:</h3>
{% set postslist = collections['Coleslaw']  |  randomLimit(4, page.url)  %} 
{% include "components/postslist-recipes-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/recipes/" title="More Recipes" alt="More Recipes">More Recipes &gt;</a></div>
</div>
{% endif %}



<div class="pad4rem"></div>
<div class="productcatagory content">
<h3>Recipes we hope you may also like:</h3>
{% set postslist = collections['Recipes']  |  randomLimit(4, page.url)  %} 
{% include "components/postslist-recipes-4-wide.njk" %}
<div class="linkwrapper"><a class="resultspdf" href="/products/recipes/" title="More Recipes" alt="More Recipes">More Recipes &gt;</a></div>
</div>